<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action={{url_for('insert')}} method="POST">
    <h3>Book Information</h3>
    Title<br>
    <input type="text" name="title"/><br>
    Author<br>
    <input type="text" name="author"/><br>
    Genre<br>
    <input type="text" name="genre"/><br>
    Shelf<br>
    <input type="text" name="shelf"/><br>
    Production Year<br>
    <input type="text" name="prod_year"/><br>
    Language<br>
    <input type="text" name="language"/><br>
    <button type="submit">Submit</button>

</form>
</body>
</html>